In [3]:
import numpy as np
import pandas as pd

# 1. 시리즈 생성
a = pd.Series([1, 3, 5, 7, 10])
print(a)

0     1
1     3
2     5
3     7
4    10
dtype: int64

In [5]:
b = pd.Series(np.array(['a', 'b', 'c', 'd']))
print(b)

0    a
1    b
2    c
3    d
dtype: object

In [7]:
a = pd.Series(['a', 'b', 'c'], index=[10, 20, 30])
print(a)

10    a
20    b
30    c
dtype: object

In [8]:
d = pd.Series({'a': 10, 'b': 20, 'c': 30})
print(d)

a    10
b    20
c    30
dtype: int64

In [10]:
a = pd.DataFrame([1, 3, 5, 7, 9])  # 리스트를 이용한 생성
print(a)

   0
0  1
1  3
2  5
3  7
4  9

In [11]:
a = pd.DataFrame([[1, 3, 5],
                  [2, 4, 6]])  # 리스트를 이용한 생성
print(a)

   0  1  2
0  1  3  5
1  2  4  6

In [16]:
b = pd.DataFrame({'Name': {'a': 10, 'b': 20, 'c': 30}, 'Age': {'a': 10, 'b': 20, 'c': 30}})  # 딕셔너리를 이용한 생성
print(b)

   Name  Age
a    10   10
b    20   20
c    30   30

In [18]:
c = pd.DataFrame([['apple', 7000], ['banana', 5000], ['orange', 4000]])  # 리스트의 중첩에 의한 생성
print(c)

        0     1
0   apple  7000
1  banana  5000
2  orange  4000

In [19]:
data_frame = pd.read_csv('./data_in/datafile.csv')
print(data_frame['A'])  # A열의 데이터만 확인
print(data_frame['A'][:3])  # A열의 데이터 중 앞의 10개만 확인
data_frame['D'] = data_frame['A'] + data_frame['B']  # A열과 B열을 더한 새로운 C열 생성
print(data_frame['D'])
data_frame.describe()

0      0.076547
1      0.810574
2      0.071555
3      0.319684
4      0.571791
         ...
295    0.961260
296    0.412032
297    0.934486
298    0.072067
299    0.705263
Name: A, Length: 300, dtype: float64
0    0.076547
1    0.810574
2    0.071555
Name: A, dtype: float64
0     -0.334412
1      1.799571
2      0.843764
3      1.079784
4      0.734765
         ...
295    0.800332
296    1.151419
297    1.431471
298    0.769612
299   -0.161041
Name: D, Length: 300, dtype: float64

                A           B           C           D
count  300.000000  300.000000  300.000000  300.000000
mean     0.504467    0.120235  517.743333    0.624702
std      0.283837    0.576256  283.187160    0.656320
min      0.003110   -0.981417    0.000000   -0.890799
25%      0.241881   -0.336614  282.250000    0.100411
50%      0.528009    0.224035  526.500000    0.767702
75%      0.750084    0.591710  754.250000    1.141083
max      0.994491    0.989536  996.000000    1.857518